!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Devsearch'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Devsearch'}"}
    %link{href: 'http://fonts.googleapis.com/css?family=Exo+2', rel:'stylesheet', type:'text/css'}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    -if controller_name.eql? "home"
      =render 'layouts/home_slider'
    %main.container{:role => "main"}
      = render 'layouts/messages'
      = yield
